/* App.css */

body {
  font-family: 'Montserrat', sans-serif;
}

.nav, .footer {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.sliderContainer {
  width: 80%;
}

.colorSlider {
  width: 100%;
  height: 15px;
  border-radius: 7.5px;
  outline: none;
  -webkit-appearance: none;
}

.button, .card {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}

.card {
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.skills {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
