@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.sliderContainer {
  width: 100%;
  margin-bottom: 20px;
}

.colorSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 7.5px;
  background: linear-gradient(90deg, hsl(0, 100%, 50%), hsl(120, 100%, 50%), hsl(240, 100%, 50%), hsl(360, 100%, 50%));
  outline: none;
  padding: 0;
  margin: 0;
}

.colorSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  box-shadow: 0 0 10px #000;
  transition: background 0.3s;
}

.colorSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  box-shadow: 0 0 10px #000;
  transition: background 0.3s;
}

.colorSlider::-ms-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  box-shadow: 0 0 10px #000;
  transition: background 0.3s;
}
